/* Smartphone */
@font-face {
    font-family: Poppins-Thin;
    src: url(../../assets/fonts/Poppins/Poppins-Thin.ttf);
}
@font-face {
    font-family: Poppins-Regular;
    src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
}

.perfil-usuario {
    display: flex;
    gap: 20px;
    align-items: center;
}

.perfil-usuario__menuitem {
    font-family: Poppins-Regular;
    font-size: 1rem;
    color: #201849;
    cursor: pointer;
    text-decoration: none;
}

.perfil-usuario__icon {
    width: 20px;
    cursor: pointer;
}

.perfil-usuario a.active{
    border-bottom: 2px solid var(--color-red);
}